@media (min-width: 1367px) {
    .lead {
        font-size: 2em;
    }
    
    .dream-text {
        font-size: 1.7em;
    }
    
    h2.card-title {
        font-size: 3em;
    }
    
    .card-title {
        font-size: 2em;
    }
    
    
    .contact-text {
        font-size: 1em;
    }
}

@media (max-width: 992px) {
    body {
        font-size: 90%;
    }
    
    .skills {
    background: url(img/skills.jpg) center no-repeat fixed;
    }
    
    .card-title {
        font-size: 2em;
    }
    
    .lead {
        font-size: 1.2em;
    }
    
    .display-1 {
        font-size: 5em;
    }
    
    .btn-scroll {
        font-size: 1em;
    }
    
    .btn-nav {
        font-size: 0.7em;
    }
    
}

@media (max-width: 768px) {
    body {
    font-size: 80%;
    }
    .contact-text {
        font-size: 1em;
    }
    
    .display-1 {
        font-size: 3.5em;
    }
    
    .btn-scroll {
        font-size: 0.7em;
    }
    
    nav li{
        margin-right: 0.5em;
    }
    
    .btn-nav {
        font-size: 0.5em;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 60%;
    }
    
    .card-title {
        font-size: 1.8em;
    }
    
    .lead {
        font-size: 1.5em;
    }
    
    .dream-text {
        font-size: 1.2em;
    }
    
    .display-1 {
        font-size: 3em;
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
    
    .navbar {
        display: none;
    }
    
    .btn-scroll {
        font-size: 0.5em;
    }
    
    .btn-scroll:hover {
        background: #000;
        border-radius: 1px;
    }
    
    .btn-who:hover {
        background: -webkit-gradient(linear, right top, left top, from(#c97e7e), to(#be1c1c));
        background: linear-gradient(to left, #c97e7e, #be1c1c);
    }
    
    
}


